<h1>Photogur</h1>
<p><%= link_to("New Picture", new_picture_path) %></p>

<% @pictures.each do |picture| %>
  <div class="img-container">
    <%= image_tag picture.image.url(:medium) %>
  <p><%= link_to(picture.title, "/pictures/#{picture.id}") %>, <%= picture.artist %> <%= picture.created_at.year %></p>
</div>
<% end %>
